/* Styles go here */

@font-face {
  font-family: 'MyFont';
  src: local('MyFont'), url(./MyFont.ttf) format('truetype');
}

.pricingTable{
    background: #fff;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 30px 30px 70px;
    border-radius: 10px;
    box-shadow: 0 0 15px -8px rgba(0,0,0,0.5);
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.pricingTable:before,
.pricingTable:after{
    content: "";
    background-color: #F4F5F9;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    position: absolute;
    top: -213px;
    right: -213px;
    z-index: -1;
}

.pricingTable:after{
    background-color: #FE5F85;
    height: 300px;
    width: 300px;
    top: auto;
    bottom: -210px;
    right: auto;
    left: -160px;
}
.pricingTable .title{
    color: #1A2A3A;
    font-size: 33px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 20px;
}



.pricingTable .title:before{
    content: "";
    background-color: #1A2A3A;
    width: 65px;
    height: 3px;
    margin: 0 auto 20px;
    display: block;
    clear: both;
}

.pricingTable .price-value{
    color: #fff;
    background-color: #FE5F85;
    width: 160px;
    height: 160px;
    padding: 57px 0 0;
    margin: 0 auto 25px;
    border-radius: 50%;
}
.pricingTable .price-value .currency{
    font-size: 35px;
    font-weight: 300;
    line-height: 35px;
    vertical-align: top;
    display: inline-block;
}

 
.pricingTable .price-value .amount{
    font-size: 38px;
    font-weight: 700;
    line-height: 45px;
    display: inline-block;
    margin-right: 10px;
}
.pricingTable .price-value .duration{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0 0 0 -5px;
    display: inline-block;
}


.pricingTable .pricing-content{
    padding: 0;
    margin: 0 0 25px;
    list-style: none;
    display: inline-block;
}
.pricingTable .pricing-content li{
    color: #888;
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    padding: 0 0 0 35px;
    margin: 0 0 20px;
    position: relative;
}


.pricingTable .pricing-content li:last-child{ margin: 0; }
.pricingTable .pricing-content li:before{
    content: "\f00c";
    color: #fff;
    background-color: #FE5F85;
    font-family: "Font Awesome 5 Free";
    font-size: 13px;
    font-weight: 900;
    text-align: center;
    line-height: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 0;
}



.pricingTable .pricingTable-signup a{
    color: #fff;
    background-color: #FE5F85;
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
    width: 140px;
    padding: 3px 10px;
    margin: 0 auto;
    border-radius: 15px;
    border: 2px solid transparent;
    display: block;
    transition: all 0.3s ease 0s;
}



.pricingTable .pricingTable-signup a:hover{
    color: #FE5F85;
    background-color: transparent;
    border-color: #FE5F85;
}
.pricingTable.blue:after{ background-color: #00CCFF; }
.pricingTable.blue .price-value{ background-color: #00CCFF; }
.pricingTable.blue .pricing-content li:before{ background-color: #00CCFF; }
.pricingTable.blue .pricingTable-signup a{ background-color: #00CCFF; }
.pricingTable.blue .pricingTable-signup a:hover{
    color: #00CCFF;
    background-color: transparent;
    border-color: #00CCFF;
}


.pricingTable.gold:after{ background-color: #D7DF2D; }
.pricingTable.gold .price-value{ background-color: #D7DF2D; }
.pricingTable.gold .pricing-content li:before{ background-color: #D7DF2D; }
.pricingTable.gold .pricingTable-signup a{ background-color: #D7DF2D; }
.pricingTable.gold .pricingTable-signup a:hover{
    color: #D7DF2D;
    background-color: transparent;
    border-color: #D7DF2D;
}

.pricingTable.green:after{ background-color: #1DC435; }
.pricingTable.green .price-value{ background-color: #1DC435; }
.pricingTable.green .pricing-content li:before{ background-color: #1DC435; }
.pricingTable.green .pricingTable-signup a{ background-color: #1DC435; }
.pricingTable.green .pricingTable-signup a:hover{
    color: #1DC435;
    background-color: transparent;
    border-color: #1DC435;
}


.pricingTable.plat:after{ background-color: #2A196D; }
.pricingTable.plat .price-value{ background-color: #2A196D; }
.pricingTable.plat .pricing-content li:before{ background-color: #2A196D; }
.pricingTable.plat .pricingTable-signup a{ background-color: #2A196D; }
.pricingTable.plat .pricingTable-signup a:hover{
    color: #2A196D;
    background-color: transparent;
    border-color: #2A196D;
}

@media only screen and (max-width: 990px){
    .pricingTable{ margin-bottom: 30px; }
}